.img {
	padding: 40px

}
.img:hover {
	width: 1100px;
	height: 400px;
	border: 1px solid #000000;
	border-color: #ff7f50;
	


}
#text {
	font-family: arial;
	font-size: 14px;
	text-align: justify;
	text-indent: 20px;
}
#text:hover{
	text-decoration: underline;
}